<header class="flex items-center justify-between px-6 py-4 bg-white">
  <div class="flex items-center space-x-6">
    <img src="images/logo.svg" alt="Logo" class="h-8" />
    <nav class="lg:flex space-x-4">
      <ng-container *ngFor="let link of links">
        <div class="text-black flex items-center">
          <span>{{ link.label }}</span>
          <img
            *ngIf="link.hasDropdown"
            src="images/down-arrow.svg"
            alt="down-arrow"
            class="h-6 w-6 ml-1"
          />
        </div>
      </ng-container>
    </nav>
  </div>

  <div class="flex items-center space-x-4">
    <div class="relative">
      <input
        type="text"
        placeholder="Search…"
        class="border rounded pl-3 pr-10 h-12 focus:outline-none focus:ring w-full"
      />
      <img
        src="images/search.svg"
        alt="Search"
        class="absolute right-3 top-1/2 transform -translate-y-1/2 h-4 w-4 text-gray-500"
      />
    </div>
    <button class="px-4 h-12 border border-emerald rounded text-emerald">
      Login
    </button>
    <button class="px-4 h-12 bg-emerald text-white rounded">Sign Up</button>
  </div>
</header>
